@import "tailwindcss";

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  

* {
    box-sizing: border-box;
}

nav {
    font-family: "Inter", serif;
    mix-blend-mode: multiply;
}

a.active {
    font-weight: 600;
    color: #83BC25;
}

.conversion {
    background-image: url('./assets/Order.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partners {
    background-image: url('./assets/WorkersBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.africa {
    background-image: url('./assets/Vehicles.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-page {
    background-image: url('./assets/ContactBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}





